
<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            
            <h2 class="cs-title">ความปลอดภัยด้วยมาตรฐานสูงสุดจาก เอ ทีม การ์ด</h2>
            <p class="cs-text">
                เชื่อมต่อกับเราผ่านทางโทรศัพท์, อีเมล, หรือไลน์ - ทีมผู้เชี่ยวชาญของเราพร้อมที่จะช่วยเหลือคุณ ติดต่อเราตอนนี้เพื่อรับโซลูชั่นการรักษาความปลอดภัย ที่ออกแบบเฉพาะสำหรับความปลอดภัยของคุณ
            </p>
            <a href="/contact" class="cs-button-solid">ติดต่อเรา</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/cta.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cta.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/cta.jpg" alt="grouting" width="1920" height="660" aria-hidden="true">
    </picture>
</section>