
<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            
            <h2 class="cs-title">Secure Your Peace of Mind with A Team Guard!</h2>
            <p class="cs-text">
                Connect with us through phone, email, text, or Line. Our dedicated team is ready to assist you. Contact us now for tailored security solutions.
            </p>
            <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/cta.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cta.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/cta.jpg" alt="grouting" width="1920" height="660" aria-hidden="true">
    </picture>
</section>