<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/logo-w.svg" alt="logo" width="264" height="78"></a>
            <p>
                A.T.G.บริษัทชั้นนำการรักษาความปลอดภัยประสบการณ์ 13 ปี สำหรับธุรกิจและบุคคลทั่วไทย
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>ข้อมูล</h2>
                    </li>
                    <li>
                        <a href="/">หน้าแรก</a>
                    </li>
                    <li>
                        <a href="/about">เกี่ยวกับเรา</a>
                    </li>
                    <li>
                        <a href="/projects">โครงการ</a>
                    </li>
                    <li>
                        <a href="/contact">ติดต่อ</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>บริการของเรา</h2>
                    </li>
                    <li>
                        <a href="/residential-security">ที่พักอาศัย</a>
                    </li>
                    <li>
                        <a href="/retail-security">ศูนย์การค้า</a>
                    </li>
                    <li>
                        <a href="/warehouse-security">คลังสินค้า</a>
                    </li>
                    <li>
                        <a href="/personal-security">ส่วนบุคคล</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>ติดต่อ</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">คลิกเพื่อส่งอีเมล</a>
                    </li>
                    <li>
                        <a href="{{client.whatsapp}}">เพิ่มการเป็นเพื่อน</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">TWD</a>
        <span class="copyright">
            Copyright 2023 - Present</span>
    </div>
</footer>