<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/logo-w.svg" alt="logo" width="264" height="78"></a>
            <p>
                Thailand's trusted provider of security solutions for over 13 years, safeguarding businesses and individuals alike.
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>
                        <a href="/residential-security">Residential Security</a>
                    </li>
                    <li>
                        <a href="/retail-security">Retail Security</a>
                    </li>
                    <li>
                        <a href="/warehouse-security">Warehouse Security</a>
                    </li>
                    <li>
                        <a href="/personal-security">Personal Security</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                    <li>
                        <a href="{{client.whatsapp}}">Add Friend</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">TWD</a>
        <span class="copyright">
            Copyright 2023 - Present</span>
    </div>
</footer>