---
title: 'เกี่ยวกับเรา'
description: 'A Team Guard บริษัทชั้นนำด้านการรักษาความปลอดภัยในกรุงเทพฯ ที่นำเสนอบริการรักษาความปลอดภัยแบบครบวงจร ด้วยทีมงานมืออาชีพที่มีประสบการณ์มากกว่า 13 ปี'
preloadImg: '/assets/images/int-hero.webp'
permalink: 'about/'
eleventyNavigation:
    key: เกี่ยวกับเรา
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block body %}

   <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">เกี่ยวกับเรา</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">หน้าแรก</a>
            <a href="/about" class="cs-link cs-active">เกี่ยวกับเรา</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/int-hero.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/int-hero.webp">
        <img decoding="async" src="/assets/images/int-hero.webp" alt="guards" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-317">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/about-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/about.webp">
            <img loading="lazy" decoding="async" src="/assets/images/about.jpg" alt="consult" width="520" height="680" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">เรื่องราวของเรา</span>
            <h2 class="cs-title">ประวัติความเป็นมาเกี่ยวกับเรา</h2>
            <p class="cs-text">
                A Team Guard ก่อตั้งขึ้นในปี พ.ศ. 2553 หรือเมื่อ 13 ปีที่แล้ว ซึ่งเริ่มต้นจากการปฏิบัติภารกิจในภาครัฐ ด้วยทีมงานเพียง 50 คน เท่านั้น เราได้ยืนยันตำแหน่งของเราในวงการนี้อย่างมั่นคง และเมื่อเวลาผ่านไป, เราได้พัฒนาประสิทธิภาพของทีมงาน เพื่อปรับปรุงและตอบสนองความต้องการ ในสาขาความปลอดภัยส่วนบุคคล และภาคเอกชนที่เพิ่มขึ้นอย่างต่อเนื่อง สิ่งที่ทำให้เราโดดเด่น คือความกล้าหาญในการรับมือกับความท้าทาย และการจับมือกับโอกาสใหม่  
            </p>
             <p class="cs-text">
                จนถึงปัจจุบัน, A Team Guard มีทีมงานผู้เชี่ยวชาญมากกว่า 350 คน ทุกคนมุ่งมั่นเพื่อรักษาความปลอดภัยและเสริมสร้างความมั่นคงทั้งในกรุงเทพฯ และเขตปริมณฑล โดยเฉพาะในย่านสุขุมวิท A Team Guard ไม่ใช่เพียงบริษัทการรักษาความปลอดภัยชั้นนำ แต่เราเป็นสัญลักษณ์ของการทุ่มเท ความมุ่งมั่น และวิสัยทัศน์ในการรักษาความปลอดภัยสู่ชุมชนเพื่อสร้างสังคมที่ปลอดภัยยิ่งขึ้นของทุกวัน
            </p>
            
            
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-471">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/graduation.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                <span class="cs-number">13 ปี</span>
                <span class="cs-desc">ประสบการณ์</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/happy-customer.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                <span class="cs-number">131</span>
                <span class="cs-desc">ลูกค้าปัจจุบัน</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/retain.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                <span class="cs-number">95%</span>
                <span class="cs-desc">ลูกค้าที่พึงพอใจ</span>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1140">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">ทีมผู้เชี่ยวชาญของเรา</span>
                <h2 class="cs-title">พบกับทีมของเรา </h2>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/1.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/1.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/1.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">นายอภิรักษ์ อุจจเสน</span>
                    <span class="cs-job">กรรมการผู้จัดการ</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/3.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/3.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/3.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">พลตรี ประเทือง ชื่นอุปการนันท์</span>
                    <span class="cs-job">ที่ปรึกษา</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/2.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/2.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">พันตรี ประทีป ทองประยูร</span>
                    <span class="cs-job">ผู้จัดการฝ่ายปฏิบัติการ</span>
                </div>
            </li>
            
        </ul>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}