---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block body %}

   <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/about" class="cs-link cs-active">About Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/int-hero.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/int-hero.jpg">
        <img decoding="async" src="/assets/images/int-hero.jpg" alt="worker grouting" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-317">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/about-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/about.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/about.jpg" alt="consult" width="520" height="680" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Our Story</span>
            <h2 class="cs-title">About A Team Guard</h2>
            <p class="cs-text">
                Established 13 years ago, A Team Guard embarked on a mission within the public sector. Four pivotal years in, we identified a niche in the private security landscape and ventured forth. This step came with round-the-clock demands, yet we rose to the occasion.
            </p>
             <p class="cs-text">
                From an initial team of 50, we've expanded to a robust force of 350 specialists. While our roots began just outside Bangkok, we're now entrusted with safeguarding prestigious developments in the heart of the Sukhumvit area. Our transformation from a fledgling firm to Bangkok's premier security authority underscores our dedication and vision for a more secure community.
            </p>
            
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-471">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/graduation.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                <span class="cs-number">10+</span>
                <span class="cs-desc">Years of Expertise</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/happy-customer.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                <span class="cs-number">100s</span>
                <span class="cs-desc">Delighted Customers</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/google.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                <span class="cs-number">5/5</span>
                <span class="cs-desc">Google Rating</span>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1140">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Expert Team</span>
                <h2 class="cs-title">Meet The A Team </h2>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/person-1.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/person-1.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/person-1.webp" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Person 1</span>
                    <span class="cs-job">Founder</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/person-1.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/person-1.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/person-1.webp" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Person 1</span>
                    <span class="cs-job">Founder</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/person-1.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/person-1.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/person-1.webp" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Person 1</span>
                    <span class="cs-job">Founder</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/person-1.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/person-1.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/person-1.webp" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Person 1</span>
                    <span class="cs-job">Founder</span>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}