---
title: 'ติดต่อ'
description: 'Meta description for the page'
preloadImg: '/assets/images/int-hero.webp'
permalink: 'contact/'
eleventyNavigation:
    key: ติดต่อ
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/contact.css">
{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">ติดต่อเรา</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">หน้าแรก</a>
            <a href="/contact" class="cs-link cs-active">ติดต่อเรา</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/int-hero.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/int-hero.webp">
        <img decoding="async" src="/assets/images/int-hero.jpg" alt="worker grouting" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact-265">
        <div class="cs-container">
            <div class="cs-left-section">
                <div class="cs-content">
                    <span class="cs-topper">ติดต่อเรา</span>
                    <h2 class="cs-title">ส่งข้อความ</h2>
                    <p class="cs-text">
                        เราพร้อมรับสายหรืออีเมลของคุณ เพียงแจ้งให้เราทราบถึงความต้องการของคุณและเราจะดำเนินการทันที!
                    </p>
                </div>
                <form id="cs-form-265" name="Contact Form" method="post" data-netlify="true"><input type='hidden' name='form-name' value='Contact Form' />
                    <label>
                        ชื่อ
                        <input required type="text" id="name-265" name="name" placeholder="ชื่อ-นามสกุล">
                    </label>
                    <label>
                        อีเมล
                        <input required type="text" id="email-265" name="email" placeholder="อีเมลของคุณ">
                    </label>
                    <label>
                        โทรศัพท์
                        <input required type="text" id="phone-265" name="phone" placeholder="เบอร์โทรศัพท์ที่ติดต่อได้">
                    </label>
                    <label>
                        ชื่อบริษัท
                        <input type="text" id="find-265" name="company" placeholder="ชื่อบริษัทของคุณ">
                    </label>
                    <label class="cs-label-message">
                        ข้อความ
                        <textarea required name="Message" id="message-265" placeholder="เขียนข้อความ..."></textarea>
                    </label>
                    <button class="cs-button-solid cs-submit" type="submit">ส่งข้อความ</button>
                </form>
            </div>
            <div class="cs-right-section">
                <!--Email-->
                    <span class="cs-header">LINE</span>
                    <a class="cs-link" href="{{client.whatsapp}}">เพิ่มเพื่อน</a>
                    
                    <!--Phone-->
                    <span class="cs-header">โทรศัพท์</span>
                    <a class="cs-link" href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>
                    <!--Address-->
                    <span class="cs-header">ที่อยู่</span>
                    <a class="cs-link" href="{{client.address.mapLink}}">
                        {{client.address.lineOne}},
                        <br />
                        {{client.address.lineTwo}},
                        <br />
                        <span class="cs-block">
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </span>
                    </a>
    
                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/contact.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/contact.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/contact.jpg" alt="building" width="542" height="662" aria-hidden="true">
                </picture>
            </div>
        </div>
    </section>
{% endblock %}