---
title: 'บริการรักษาความปลอดภัย'
description: 'บริการรักษาความปลอดภัยระดับมืออาชีพในกรุงเทพฯจาก เอ ทีม การ์ด - มีประสบการณ์มากกว่า 13 ปี ปรับแผนป้องกันความปลอดภัยทันสมัย พร้อมความเชี่ยวชาญแบบที่ไม่มีที่ไหนเทียบ'
preloadImg: '/assets/images/hero.webp'
permalink: '/'
eleventyNavigation:
  key: หน้าแรก
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/local.css" />
    <link rel="stylesheet" href="/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-288">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">บริษัทรักษาความปลอดภัยระดับมืออาชีพในกรุงเทพฯและปริมณฑล</h1>
            <p class="cs-text">
                บริษัท เอ ทีม การ์ด เป็นผู้เชี่ยวชาญด้านการป้องกันความปลอดภัยขั้นสูง มีประสบการณ์ 13 ปี และเชื่อถือได้โดยลูกค้าทุกธุรกิจ มีความเชี่ยวชาญในการนำเสนอการป้องกันระดับสูง สามารถปรับแต่งแผนการรักษาความปลอดภัยที่ทันสมัยและให้เข้ากับธุรกิจของคุณ หรือความต้องการของส่วนบุคคล
            </p>
            <a href="/contact/" class="cs-button-solid">ติดต่อเรา</a>
            <ul class="cs-stats-group">
                <li class="cs-item">
                    <span class="cs-number">13ปี</span>
                    <span class="cs-desc">ประสบการณ์</span>
                </li>
                <li class="cs-item">
                    <span class="cs-number">131</span>
                    <span class="cs-desc">ลูกค้าปัจจุบัน</span>
                </li>
                <li class="cs-item">
                    <span class="cs-number">95%</span>
                    <span class="cs-desc">ความพึงพอใจ</span>
                </li>
            </ul>
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/hero-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
            <source media="(min-width: 1024px)" srcset="/assets/images/hero.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/hero.jpg" alt="lawyer" width="630" height="814">
        </picture>
        <!--Green Waves-->
        <picture class="cs-waves">
            <source media="(min-width: 1024px)" srcset="/assets/svgs/waves.svg">
            <source media="(min-width: 601px)" srcset="/assets/svgs/waves-t.svg">
            <source media="(max-width: 600px)" srcset="/assets/svgs/waves-m.svg">
            <img decoding="async" src="/assets/svgs/waves.svg" alt="waves" width="645" height="1080" aria-hidden="true">
        </picture>
    </div>
</section>


<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-296">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">บริการของเรา</span>
            <h2 class="cs-title">รักษาความปลอดภัยแบบครบวงจรในกรุงเทพฯ</h2>
            <p class="cs-text">
                เอ ทีม การ์ด ตั้งค่ามาตรฐานใหม่สำหรับบริการด้านความปลอดภัย ด้วยประสบการณ์เกิน 13 ปี <br> วางรากฐานในการป้องกันและคุ้มครองสถานที่ทั่วเขตกรุงเทพฯ ไม่ว่าจะเป็นสถานที่พักอาศัย อาคารสำนักงาน ศูนย์การค้า คลังสินค้า และความปลอดภัยส่วนบุคคล ด้วยทีมงานผู้เชี่ยวชาญและเทคโนโลยีที่ทันสมัย เราให้ความมั่นใจในการรักษาความปลอดภัยของคุณ และมุ่งเน้นการบริการที่ตรงตามความต้องการเฉพาะของลูกค้าในทุกสถานการณ์
                
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="/residential-security/">
                    <img class="cs-icon" src="/assets/svgs/appartment.svg" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">รักษาความปลอดภัยที่พักอาศัย</h3>
                    <p class="cs-item-text">
                        ทีมผู้เชี่ยวชาญของเราทำหน้าที่ป้องกันและรักษาความปลอดภัย สำหรับหมู่บ้านและคอนโด เพื่อสร้างสภาพแวดล้อมที่ปลอดภัยและเงียบสงบให้กับผู้ที่พำนักอาศัย นำเสนอบริการด้วยเทคโนโลยีทันสมัยและมาตราฐานปฏิบัติการสูง
                    </p>
                </a>
                <picture class="cs-image"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/residential2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/residential2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/residential2.jpg" alt="library" width="413" height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/retail-security/" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/mall.svg" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">รักษาความปลอดภัยศูนย์การค้า</h3>
                    <p class="cs-item-text">
                        บริการป้องกันและรักษาความปลอดภัยสำหรับทรัพย์สิน และลูกค้าในศูนย์การค้า โดยมุ่งเน้นการป้องกันความเสี่ยงจากการถูกโจรกรรม, ควบคุมและจัดการผู้เยี่ยมชม พร้อมทั้งสร้างบรรยากาศที่ปลอดภัย และสะดวกสบายสำหรับผู้เยี่ยมชม
                    </p>
                </a>
                <picture class="cs-image"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/retail.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/retail.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/retail.jpg" alt="library" width="413" height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/warehouse-security/" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/warehouse.svg" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">รักษาความปลอดภัยคลังสินค้า</h3>
                    <p class="cs-item-text">
                        บริการป้องกันและรักษาความปลอดภัยสำหรับคลังสินค้า และด้านโลจิสติกส์ ซึ่งมุ่งมั่นในการควบคุมและตรวจสอบการเข้าถึงคลัง ป้องกันความเสี่ยงที่อาจนำไปสู่การโจรกรรม และรับรองให้การดำเนินงานเป็นไปอย่างราบรื่นและมีประสิทธิภาพ

                    </p>
                </a>
                <picture class="cs-image"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/warehouse2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/warehouse2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/warehouse2.jpg" alt="library" width="413" height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/personal-security/">
                    <img class="cs-icon" src="/assets/svgs/bodyguard.svg" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">รักษาความปลอดภัยส่วนบุคคล</h3>
                    <p class="cs-item-text">
                        ทีมผู้เชี่ยวชาญของเรามุ่งมั่นในการให้บริการ ความปลอดภัยส่วนบุคคล หรือ "Bodyguard" ด้วยความรอบคอบและมีประสิทธิภาพสูงสุด ในทุกสถานการณ์ของการใช้ชีวิตประจำวัน, เพื่อให้คุณมั่นใจและรู้สึกโดดเด่นในการรักษาความปลอดภัยส่วนบุคคลของคุณ
                    </p>
                </a>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/bodyguard.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/bodyguard.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/bodyguard.jpg" alt="library" width="413" height="266" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-223">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">ทำไมต้องเลือกเรา</span>
            <h2 class="cs-title">มอบความไว้วางใจความปลอดภัยสำหรับคุณในกรุงเทพฯ</h2>
            <p class="cs-text">
                งานบริการด้านรักษาความปลอดภัย ต้องการมากกว่าการมีบุคลากรในเครื่องแบบเท่านั้น แต่ต้องมาพร้อมกับความน่าเชื่อถือ และความมุ่งมั่นเอาใจใส่ในมาตรฐานที่ยอดเยี่ยม เอ ทีม การ์ด เราเน้นความทุ่มเทในการป้องกันความปลอดภัยและผลประโยชน์ของคุณ ที่แสดงอยู่ในทุกแง่มุมของการดำเนินงานของเราอย่างแท้จริง และเป็นคำตอบที่เหมาะสมสำหรับความปลอดภัยของคุณ
            </p>
            <a href="/about/" class="cs-button-solid">ข้อมูลเพิ่มเติมเกี่ยวกับเรา</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/insured.svg" alt="icon" width="72" height="72">
                <h3 class="cs-h3">การรับรองความปลอดภัยและประกันภัย</h3>
                <p class="cs-item-text">
                    ด้วยใบรับรองและประกันภัยที่คลอบคลุม เราทุ่มเทเพื่อสร้างความมั่นใจและสัญญาจะให้ความปลอดภัยให้กับลูกค้าทุกท่าน ด้วยทีมงานมืออาชีพที่ได้รับการฝึกฝน และคำปรึกษาจากผู้เชี่ยวชาญในหลายด้าน เช่น เจ้าหน้าที่อดีตปฏิบัติการกรมทหารและตํารวจ ทำให้การบริหารและการวางแผนของเรามีประสิทธิภาพสูงสุด
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/siren.svg" alt="icon" width="72" height="72">
                <h3 class="cs-h3">การตอบสนองด่วนเมื่อเกิดเหตุ</h3>
                <p class="cs-item-text">
                    ทีมงานของเรามีการฝึกอบรมระดับมืออาชีพ และมีประสบการณ์ในการรับมือกับสถานการณ์ต่างๆ เป็นอย่างดี ไม่ว่าจะเป็นเหตุฉุกเฉิน หรือปัญหาที่เกี่ยวกับความปลอดภัยของบุคคลและสถานที่ การตั้งอยู่ในจุดสำคัญของเมือง ทำให้เราสามารถเข้าถึงสถานที่เกิดเหตุได้ในระยะเวลาภายในเพียง 30 นาที
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/certified.svg" alt="icon" width="72" height="72">
                <h3 class="cs-h3">การร่วมมือกับหน่วยงานท้องถิ่น</h3>
                <p class="cs-item-text">
                    การสร้างความสัมพันธ์และร่วมมือกับหน่วยงานท้องถิ่นหลายแห่ง เช่น สถานีตำรวจ สถานีดับเพลิง และโรงพยาบาล เพื่อรับประกันว่าเมื่อมีเหตุฉุกเฉิน เราสามารถทำงานร่วมกันได้อย่างมีประสิทธิภาพ ภายใต้การสนับสนุนจากหน่วยงานดังกล่าว ทีมงานของเรามีความรู้และความสามารถที่จะให้บริการแก่ลูกค้าในระดับมืออาชีพ
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/guard.svg" alt="icon" width="72" height="72">
                <h3 class="cs-h3">มาตรฐานพนักงานที่ยอดเยี่ยม</h3>
                <p class="cs-item-text">
                    เรามุ่งมั่นในการสรรหาและพัฒนาบุคลากร เพื่อให้เป็นแบบอย่างของวงการธุรกิจรักษาความปลอดภัย โดยคัดเลือกผู้ที่มีคุณธรรมสูง มีความไฝ่รู้ และความสามารถที่ยอดเยี่ยม ผ่านการทดสอบสมรรถภาพร่างกายที่สมบูรณ์ การตรวจสารเสพติดเป็นประจำทุก 3 เดือน การฝึกอบรมอย่างต่อเนื่องและโดยละเอียดเป็นเวลา 40 ชั่วโมง และการตรวจสอบประวัติทางอาชญากรรมทุกประเภท
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1095">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/residential-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/residential.webp">
                <img loading="lazy" decoding="async" src="/assets/images/residential.jpg" alt="mechanic" width="542" height="608">
            </picture>
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="/assets/svgs/police-badge.svg" alt="profile" width="184" height="184" aria-hidden="true">
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="/assets/svgs/stripes-long2.svg" alt="stripes" width="522" height="608" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">หมู่บ้านและคอนโด</span>
            <h2 class="cs-title">บริการรักษาความปลอดภัยที่พักอาศัยในกรุงเทพฯ</h2>
            <p class="cs-text">
                ในกรุงเทพฯ และปริมณฑลมีพื้นที่อยู่อาศัยหลากหลาย ไม่ว่าจะเป็นคอนโดหรูหรา หรือหมู่บ้านที่มีรั้วรอบขอบชิด การรักษาความปลอดภัยสำหรับที่พักอาศัยไม่ใช่เพียงแค่การมียามประจำหน้าประตู แต่ต้องการระบบความปลอดภัยที่ครอบคลุมทุกแง่มุม 
            </p>
            <p class="cs-text">
                ที่ เอ ทีม การ์ด เรามุ่งมั่นในการสร้างระบบความปลอดภัย ที่ตอบสนองตามความต้องการของที่อยู่อาศัยแต่ละแห่ง จากคอนโดที่ตั้งอยู่ในใจกลางเมืองจนถึงหมู่บ้าน ที่ต้องการความเป็นส่วนตัว ด้วยความเชี่ยวชาญและประสบการณ์ของเรา ยืนยันให้ผู้อยู่อาศัยและผู้เยี่ยมชมรู้สึกปลอดภัยและมั่นใจในการอยู่อาศัยแต่ละวัน
            </p>
            <div id="button-box-837" class="cs-contact-group">
                <a class="cs-link" href="tel:{{client.phoneForTel}}">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/phone.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">โทรตอนนี้</span>
                        <span class="cs-link-content">{{client.phoneFormatted}}</span>
                    </div>
                </a>
                <a class="cs-link" href="mailto:{{client.email}}">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/mail.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">ส่งข้อความ</span>
                        <span class="cs-link-content">{{client.email}}</span>
                    </div>
                </a>
            </div>
            <a class="cs-button-solid" aria-label="ข้อมูลเพิ่มเติม" href="/residential-security/">ข้อมูลเพิ่มเติม</a>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1064">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">บริการเสริมอื่นๆ</span>
            <h2 class="cs-title">ที่ครอบคลุมโดยทีมงานรักษาความปลอดภัย  เอ ทีม การ์ด</h2>
            <p class="cs-text">
                เอ ทีม การ์ด ปรับบริการรักษาความปลอดภัย ให้ตรงความต้องการของลูกค้าในยุคปัจจุบัน <br> ไม่เพียงเป็นบริษัทรักษาความปลอดภัยเท่านั้น แต่เราเป็นที่ปรึกษาความปลอดภัยที่กำหนดมาตรฐานใหม่ในการบริการ โดยออกแบบบริการที่ตอบสนองต่อความต้องการของลูกค้าในทุกมิติ สำหรับธุรกิจ ที่พักอาศัย หรือเหตุการณ์พิเศษทุกประเภท

            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/corporate.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">รักษาความปลอดภัยประจำองค์กร</h3>
                <p class="cs-item-text">
                    ในยุคธุรกิจที่มีการเปลี่ยนแปลงอย่างรวดเร็ว ความปลอดภัยเป็นหัวใจสำคัญของทุกองค์กร ที่ เอ ทีม การ์ด เรามุ่งมั่นปกป้องทรัพย์สิน, พนักงาน, และชื่อเสียงของคุณด้วยมาตรฐานสูงสุด ทำให้ธุรกิจของคุณเติบโตในบรรยากาศที่มั่นคงและน่าเชื่อถือ
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/event.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">รักษาความปลอดภัยงานกิจกรรมต่างๆ</h3>
                <p class="cs-item-text">
                    ให้ความมั่นใจเมื่อจัดงานสำคัญของคุณ ด้วยบริการรักษาความปลอดภัยจากเรา ไม่ว่างานของคุณจะเป็นการแสดงสินค้า, นิทรรศการ, คอนเสิร์ต, หรืออีเวนต์ใดๆ ทีมมืออาชีพของเราพร้อมสร้างประสบการณ์ที่ปลอดภัยและมีประสิทธิภาพสำหรับคุณและผู้เข้าร่วมงานทุกคน
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/construction.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">รักษาความปลอดภัยในเขตการก่อสร้าง</h3>
                <p class="cs-item-text">
                    การรักษาความปลอดภัยในเขตก่อสร้างกลายเป็นสิ่งสำคัญในยุคปัจจุบัน ที่ เอ ทีม การ์ด เราให้บริการเฝ้าระวังด้วยทีมงานมืออาชีพ มาตรการของเราจัดตั้งเพื่อรับมือกับทุกสถานการณ์ ทำให้โครงการก่อสร้างของคุณดำเนินไปอย่างไร้ปัญหา และเสริมสร้างความมั่นใจในผู้เกี่ยวข้อง
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/cleaning.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">บริการแม่บ้านทำความสะอาด</h3>
                <p class="cs-item-text">
                    ความสะอาดสู่ความประทับใจและเชื่อถือได้ ที่ เอ ทีม การ์ด เรามุ่งเน้นการให้บริการทำความสะอาดบ้านมืออาชีพ ทีมแม่บ้านที่มีความเชี่ยวชาญและอบรมมาอย่างดี การใช้ครื่องมือและผลิตภัณฑ์ทำความสะอาดที่ดีต่อสิ่งแวดล้อม และการบริการที่เป็นกันเอง
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/safety.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">จำหน่ายและนำเข้าอุปกรณ์ความปลอดภัย</h3>
                <p class="cs-item-text">
                    ความปลอดภัยเป็นหัวใจสำคัญของทุกสถานที่ ด้วยการนำเข้าและจำหน่ายอุปกรณ์ความปลอดภัยจากแบรนด์ชั้นนำ เรามอบความมั่นใจและประสิทธิภาพในการป้องกันภัยต่างๆ ให้กับคุณประหยัดเวลาและได้สินค้าคุณภาพเยี่ยมสำหรับทุกพื้นที่
                </p>
            </li>
            
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1096">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/warehouse-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/warehouse.webp">
                <img loading="lazy" decoding="async" src="/assets/images/warehouse.jpg" alt="mechanic" width="542" height="608">
            </picture>
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="/assets/svgs/police-badge.svg" alt="profile" width="184" height="184" aria-hidden="true">
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="/assets/svgs/stripes-long2.svg" alt="stripes" width="522" height="608" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">อำนวยความสะดวกของพื้นที่จัดเก็บ</span>
            <h2 class="cs-title">บริการรักษาความปลอดภัยคลังสินค้าในประเทศไทย</h2>
            <p class="cs-text">
                คลังสินค้าในเขตอุตสาหกรรมของประเทศไทย เป็นที่ตั้งของทรัพย์สินที่มีค่าอย่างมาก การมีระบบความปลอดภัยที่มีประสิทธิภาพเป็นสิ่งที่จำเป็นอย่างยิ่ง เพื่อปกป้องทรัพย์สินเหล่านั้น การรักษาความปลอดภัยไม่เพียงแต่เฉพาะด้านการจัดสรรเจ้าหน้าที่ป้องกันเท่านั้น แต่ยังต้องใช้มาตรการและเทคโนโลยีที่ทันสมัยเป็นที่ต้องการ
            </p>
            <p class="cs-text">
                ที่ เอ ทีม การ์ด เรามีมาตรการและกลยุทธ์ความปลอดภัย ที่ได้รับการออกแบบมาอย่างพิถีพิถัน เพื่อปกป้องคลังสินค้าของคุณ ตั้งแต่ระบบการเฝ้าระวังทางอิเล็กทรอนิกส์ จนถึงมาตรการป้องกันทางกายภาพ ความมุ่งมั่นของเราเป็นการรับประกันว่าทรัพย์สินของคุณจะปลอดภัย และได้รับการจัดการด้วยความระมัดระวังสูงสุด
            </p>
            <div id="button-box-837" class="cs-contact-group">
                <a class="cs-link" href="tel:{{client.phoneForTel}}">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/phone.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">โทรตอนนี้</span>
                        <span class="cs-link-content">{{client.phoneFormatted}}</span>
                    </div>
                </a>
                <a class="cs-link" href="mailto:{{client.email}}">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/mail.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">ส่งข้อความ</span>
                        <span class="cs-link-content">{{client.email}}</span>
                    </div>
                </a>
            </div>
            <a class="cs-button-solid" aria-label="ข้อมูลเพิ่มเติม" href="/warehouse-security/">ข้อมูลเพิ่มเติม</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-708">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/faq-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/faq.webp">
            <img loading="lazy" decoding="async" src="/assets/images/faq.jpg" alt="rocks" width="650" height="740" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">FAQ's</span>
            <h2 class="cs-title">คำถามที่พบบ่อย</h2>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            ทำไมฉันถึงควรเลือก เอ ทีม การ์ด?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        ลูกค้าควรเลือกใช้บริการของเรา เนื่องจากเรามีความมุ่งมั่นในการให้บริการที่มีคุณภาพสูงสุด บุคลากรที่มีความเชี่ยวชาญ และประวัติการทำงานที่เป็นที่รู้จักและได้รับการยืนยันในวงการอุตสาหกรรมนี้

                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            ในองค์กรของคุณมีอัตราการลาออกของพนักงานที่สูงขนาดไหน?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        ไม่สูงเลย, องค์กรของเรามีอัตราการลาออกของพนักงานที่ต่ำมาก เนื่องจากเราใส่ใจในสวัสดิการของพนักงาน รวมถึงการให้ที่พัก, เบี้ยเลี้ยงล่วงหน้า, การจ่ายเงินเป็นรายวัน บัตรประกันสุขภาพและการให้ประกันที่ครอบคลุม เพื่อสร้างความมั่นคงและพึงพอใจในการทำงานให้กับทีมของเรา
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            ทีมงานของคุณสามารถรับมือกับเหตุการณ์ฉุกเฉินหรือความต้องการต่างๆ ของผู้ว่าจ้างได้หรือไม่?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        ได้อย่างแน่นอน, ทางเรามีทีมงานที่ผ่านการฝึกฝนและเตรียมความพร้อม เพื่อรับมือกับเหตุการณ์ฉุกเฉินต่างๆ นอกจากนี้เรายังมีพนักงานสำรอง ที่พร้อมให้บริการตอบสนองความต้องการของผู้ว่าจ้างในทุกๆ สถานการณ์ เพื่อให้บริการที่รวดเร็วและมีประสิทธิภาพ
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            คุณมีมาตรการในการคัดสรรพนักงานอย่างไร?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        พนักงานของเราส่วนใหญ่เป็นบุคคลที่มีประสบการณ์ในหน่วยงานราชการ, โดยเรามีความสัมพันธ์อย่างใกล้ชิดกับกองทัพทหารและหน่วยตำรวจท้องถิ่น ซึ่งการมีประวัติงานในหน่วยงานเหล่านี้ พนักงานของเราไม่เพียงแต่มีความรู้และทักษะที่ได้รับการฝึกฝน แต่ยังได้รับการอบรมในด้านวินัยที่สูง
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1141">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">ทีมผู้เชี่ยวชาญของเรา</span>
                <h2 class="cs-title">พบกับทีมงาน เอ ทีม การ์ด! </h2>
            </div>
            
            <a href="/about/" class="cs-button-solid">อ่านเพิ่มเติมเกี่ยวกับเรา</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/1.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/1.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/1.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">นายอภิรักษ์ อุจจเสน</span>
                    <span class="cs-job">กรรมการผู้จัดการ</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/3.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/3.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/3.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">พลตรี ประเทือง ชื่นอุปการนันท์</span>
                    <span class="cs-job">ที่ปรึกษา</span>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-591">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">คำรับรองจากลูกค้า</span>
            <h2 class="cs-title">ข้อคิดเห็นที่ลูกค้ากล่าวถึงเรา</h2>
            <p class="cs-text">
                ที่ เอ ทีม การ์ด นำเสนอบริการรักษาความปลอดภัย ที่ส่งเสริมความมั่นใจและตอบสนองความคาดหวังของลูกค้าอย่างเต็มที่ ซึ่งคำวิจารณ์จากลูกค้าคือสิ่งที่พิสูจน์ประสิทธิภาพการทำงาน โปรดอ่านข้อคิดเห็นจากลูกค้าของเราเกี่ยวกับประสบการณ์ในการร่วมมือกับเรา
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">ตอบรับรวดเร็ว</h3>
                <p class="cs-item-text">
                    เมื่อตอนเรามีปัญหาบางอย่างเกิดขึ้นในโครงการของเรา และได้ประสานไปยังบริษัท เอ ทีม การ์ด ทางบริษัทฯ ได้ตอบรับเราเร็วมาก และทาง เอ ทีม การ์ด ช่วยในการประสานงานให้ทันที ทำให้ปัญหานั้นได้รับการแก้ไขอย่างรวดเร็ว เรามั่นใจได้ว่า เอ ทีม การ์ด ให้ความสำคัญกับลูกค้าและความปลอดภัยมากที่สุด เราจึงเลือกใช้ เอ ทีม การ์ด ให้ดูแลด้านงานรักษาความปลอดภัยให้กับโครงการของเราหลายโครงการ
                </p>
                <span class="cs-name">เจ้าของโครงการหมู่บ้าน, กรุงเทพมหานคร</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">ความยืดหยุ่น</h3>
                <p class="cs-item-text">
                    เอ ทีม การ์ด พร้อมที่จะปรับเปลี่ยนการทำงานบางอย่าง ตามความต้องการของเรา เพื่อให้เหมาะสมกับหน้างาน พร้อมทั้งให้คำแนะนำที่ดีกับเรา ในแง่มุมงานรักษาความปลอดภัย เพื่อให้ได้การทำงานที่เหมาะสมและมีประสิทธิภาพ ทำให้คอนโดและท่านเจ้าของร่วมได้รับประโยชน์อย่างสูงสุด เราไม่เคยคิดว่าบริการรักษาความปลอดภัย จะสามารถปรับให้ตรงกับความต้องการของเราได้มากขนาดนี้ จนกว่าเราได้มาร่วมงานกับพวกเขา เราขอแนะนำ!
                </p>
                <span class="cs-name">ทีมผู้บริหารคอนโด, กรุงเทพมหานคร</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">การสื่อสารโดยตรง</h3>
                <p class="cs-item-text">
                    การทำงานร่วมกับบริษัท เอ ทีม การ์ด ถือเป็นประสบการณ์ที่ดีมาก เมื่อใดก็ตามที่เรามีข้อกังวลหรือข้อเสนอแนะ การติดต่อโดยตรงกับทีมผู้บริหารระดับสูงก็ง่าย เห็นได้ชัดว่าบริษัทให้ความสำคัญกับการสื่อสารที่ชัดเจน และความสัมพันธ์กับลูกค้า ทำให้การทำงานร่วมกันของเราราบรื่นและมีประสิทธิผล
                </p>
                <span class="cs-name">เจ้าของศูนย์การค้าปลีก, กรุงเทพมหานคร</span>
            </li>
        </ul>
    </div>
</section>
                                
                                
<!-- ============================================ -->
<!--               FAQ Script                     -->
<!-- ============================================ -->
<script>
    const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
        for (const item of faqItems) {
            const onClick = () => {
            item.classList.toggle('active')
        }
        item.addEventListener('click', onClick)
        }
</script>                         
                                                        

    {% include 'components/cta.html' %}
{% endblock %}