---
title: 'Security Services'
description: 'Meta description for the pag'
preloadImg: '/assets/images/hero.webp'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/local.css" />
    <link rel="stylesheet" href="/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-288">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Professional Security Services in Bangkok</h1>
            <p class="cs-text">
                A Team Guard stands as the city's premier security provider. With over 13 years of expertise, we specialize in offering top-tier, reliable protection tailored to your unique business or individual needs.
            </p>
            <a href="/contact" class="cs-button-solid">Contact Us</a>
            <ul class="cs-stats-group">
                <li class="cs-item">
                    <span class="cs-number">13+</span>
                    <span class="cs-desc">Years Experience</span>
                </li>
                <li class="cs-item">
                    <span class="cs-number">131</span>
                    <span class="cs-desc">Active Clients</span>
                </li>
                <li class="cs-item">
                    <span class="cs-number">95%</span>
                    <span class="cs-desc">Client Retention</span>
                </li>
            </ul>
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/hero-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/hero.jpg">
            <source media="(min-width: 1024px)" srcset="/assets/images/hero.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/hero.jpg" alt="lawyer" width="630" height="814">
        </picture>
        <!--Green Waves-->
        <picture class="cs-waves">
            <source media="(min-width: 1024px)" srcset="/assets/svgs/waves.svg">
            <source media="(min-width: 601px)" srcset="/assets/svgs/waves-t.svg">
            <source media="(max-width: 600px)" srcset="/assets/svgs/waves-m.svg">
            <img decoding="async" src="/assets/svgs/waves.svg" alt="waves" width="645" height="1080" aria-hidden="true">
        </picture>
    </div>
</section>


<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-296">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">Comprehensive Security Solutions in Bangkok</h2>
            <p class="cs-text">
                A Team Guard offers 13 years of unmatched security expertise. Whether safeguarding homes, retail spaces, warehouses, or providing personal protection, our trained professionals use advanced tools and local insights to ensure safety. Trust in our tailored solutions to meet your unique needs, and experience the gold standard of security in Bangkok.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="/residential-security">
                    <img class="cs-icon" src="/assets/svgs/appartment.svg" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Residential Security</h3>
                    <p class="cs-item-text">
                        Safeguarding condos and residential communities, our security personnel ensure a tranquil living environment for residents, utilizing state-of-the-art technology and best practices.
                    </p>
                </a>
                <picture class="cs-image"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/residential2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/residential2.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/residential2.jpg" alt="library" width="413" height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/retail-security" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/mall.svg" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Retail Security</h3>
                    <p class="cs-item-text">
                        Protecting both assets and customers, our retail security solutions combat theft, manage crowd control, and maintain a welcoming ambiance for shoppers.
                    </p>
                </a>
                <picture class="cs-image"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/retail.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/retail.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/retail.jpg" alt="library" width="413" height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/warehouse-security" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/warehouse.svg" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Warehouse Security</h3>
                    <p class="cs-item-text">
                        Secure your inventory and logistical operations with our specialized warehouse security. We monitor and control access, preventing theft and ensuring smooth operations.
                    </p>
                </a>
                <picture class="cs-image"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/warehouse2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/warehouse2.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/warehouse2.jpg" alt="library" width="413" height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/personal-security">
                    <img class="cs-icon" src="/assets/svgs/bodyguard.svg" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Personal Security</h3>
                    <p class="cs-item-text">
                        Prioritizing individual safety, our dedicated personal security professionals provide discreet yet effective protection, accompanying you wherever you go and ensuring your well-being at all times.
                    </p>
                </a>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/bodyguard.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/bodyguard.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/bodyguard.jpg" alt="library" width="413" height="266" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-223">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why Choose Us</span>
            <h2 class="cs-title">Entrust Your Safety to the Best in Bangkok</h2>
            <p class="cs-text">
                Navigating the security landscape of Bangkok demands more than just uniformed personnel. It requires trust, credibility, and a commitment to exceptional standards. At A Team Guard, our dedication to safeguarding your interests is evident in every facet of our operations.
            </p>
            <a href="/about" class="cs-button-solid">More About Us</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/insured.svg" alt="icon" width="72" height="72">
                <h3 class="cs-h3">Liscensed, Certified & Insured</h3>
                <p class="cs-item-text">
                    Our security license and comprehensive insurance speak to our professional rigor and commitment to our clients' peace of mind.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/quotation.svg" alt="icon" width="72" height="72">
                <h3 class="cs-h3">Rapid Response</h3>
                <p class="cs-item-text">
                    Our centrally located team is ready to respond in a flash. Should any disputes or disturbances arise, our specialized crew can be on-site within 30 minutes, ensuring quick resolution and de-escalation.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/certified.svg" alt="icon" width="72" height="72">
                <h3 class="cs-h3">Local Authority Collaboration</h3>
                <p class="cs-item-text">
                    Our close-knit relationships with local authorities and emergency services mean you're always in the best hands, with streamlined responses and expert backup when required.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/local.svg" alt="icon" width="72" height="72">
                <h3 class="cs-h3">Exceptional Staff Standards</h3>
                <p class="cs-item-text">
                    Our personnel represent the best in the industry. With mandatory health checks, tri-monthly drug tests, intensive 40-hour training sessions, and a clean criminal record, our staff's caliber is unquestionable. 
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1095">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/residential-m.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/residential.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/residential.jpg" alt="mechanic" width="542" height="608">
            </picture>
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="/assets/svgs/police-badge.svg" alt="profile" width="184" height="184" aria-hidden="true">
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="/assets/svgs/stripes-long2.svg" alt="stripes" width="522" height="608" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Condo & Village</span>
            <h2 class="cs-title">Residential Security Services in Bangkok</h2>
            <p class="cs-text">
                In Bangkok's urban sprawl, ensuring the safety of condos and villages takes more than just guards at the gate. It demands a holistic security ecosystem.
            </p>
            <p class="cs-text">
                 At A Team Guard, we create systems tailored to the unique demands of upscale residential settings. From high-rise condos to gated communities, our expertise ensures peace of mind for every resident, staff member, and stakeholder.
            </p>
            <div id="button-box-837" class="cs-contact-group">
                <a class="cs-link" href="tel:555-555-0234">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/phone.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Call Now</span>
                        <span class="cs-link-content">(555) 555-0234</span>
                    </div>
                </a>
                <a class="cs-link" href="mailto:Info@health&wellness.com">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/mail.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Send A Message</span>
                        <span class="cs-link-content">info@email.com</span>
                    </div>
                </a>
            </div>
            <a class="cs-button-solid" aria-label="learn more about grout cleaning" href="/residential-security">Read More</a>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1064">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Additional Services</span>
            <h2 class="cs-title">Comprehensive Services by A Team Guard</h2>
            <p class="cs-text">
                A Team Guard goes beyond traditional security services, serving as a multifaceted partner for diverse facility needs. Our offerings extend beyond standard protective actions, providing customized solutions suited for different commercial, residential, and event-driven demands.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/corporate.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Corporate Security</h3>
                <p class="cs-item-text">
                    Protect your business operations with our dedicated security personnel, ensuring a safe environment that fosters growth and confidence amongst employees and clients alike.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/event.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Event Security</h3>
                <p class="cs-item-text">
                    From intimate gatherings to grand celebrations, our team ensures seamless crowd management, immediate threat response, and a peaceful environment for your attendees.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/construction.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Construction Site Security</h3>
                <p class="cs-item-text">
                    Construction zones are often targeted for theft and vandalism. Our vigilant guards protect valuable assets and machinery, ensuring uninterrupted project progression.
                </p>
            </li>
            <!--<li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/dog.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Canine Security</h3>
                <p class="cs-item-text">
                    จัดการจริยธรรมอาเซียนเอสเอ็มอีเป้าหมาย กระแสเอสเอ็มอีระดับสากลเป้าหมายโลกาภิวัฒน์ประชารัฐ ผสมผสานเป้าหมายสนธิกำลังระดับสากลสตาร์ทอัพจัดการจริยธรรมบูรณาการ ลงทุนสตาร์ทอัพพัฒนาวาทกรรมนวัตกรรมโลกาภิวัฒน์  
                </p>
            </li>-->
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/cleaning.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Cleaning Services</h3>
                <p class="cs-item-text">
                    A pristine environment leaves a lasting impression. We provide top-notch cleaning services, ensuring spotlessness and hygiene in every corner.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/safety.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Safety Equipment Distribution</h3>
                <p class="cs-item-text">
                    Equip your premises with state-of-the-art fire and safety apparatus. We are trusted distributors of leading equipment brands, guaranteeing durability and efficiency.
                </p>
            </li>
            
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1096">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/warehouse-m.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/warehouse.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/warehouse.jpg" alt="mechanic" width="542" height="608">
            </picture>
            <!--Eclipses-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="/assets/svgs/police-badge.svg" alt="profile" width="184" height="184" aria-hidden="true">
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="/assets/svgs/stripes-long2.svg" alt="stripes" width="522" height="608" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Storage facilities</span>
            <h2 class="cs-title">Warehouse Security Services in Thailand</h2>
            <p class="cs-text">
                In Thailand's industrial zones, where warehouses brim with valuable assets, ensuring robust security is paramount. More than just stationed guards, it's about a seamless blend of vigilant surveillance and proactive measures. 
            </p>
            <p class="cs-text">
                 At A Team Guard, we design and implement security strategies tailored to safeguard these crucial storage facilities. From surveillance tech to physical barriers, our commitment ensures your inventory remains intact, and operations run smoothly.
            </p>
            <div id="button-box-837" class="cs-contact-group">
                <a class="cs-link" href="tel:555-555-0234">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/phone.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Call Now</span>
                        <span class="cs-link-content">(555) 555-0234</span>
                    </div>
                </a>
                <a class="cs-link" href="mailto:Info@health&wellness.com">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/mail.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Send A Message</span>
                        <span class="cs-link-content">info@email.com</span>
                    </div>
                </a>
            </div>
            <a class="cs-button-solid" aria-label="learn more about" href="/warehouse-security">Read More</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-708">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/faq-m.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/faq.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/faq.jpg" alt="rocks" width="650" height="740" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">FAQ's</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Why should I choose A Team Guard?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Clients should choose us because of our commitment to quality, our experienced personnel, and our proven track record in the industry. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do you have a high staff turnover?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        No, we pride ourselves on having one of the lowest staff turnovers in the industry. We ensure this by providing our staff with accommodation, upfront allowances, daily payment, and comprehensive insurance.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do you have adequate staffing for any event or requirement?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Absolutely. Not only do we have a robust team, but we also maintain standby staff to ensure we can meet any client need at a moment's notice.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Where do you source your staff from?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        A significant portion of our staff are ex-service individuals, owing to our strong connections with the army. This ensures that they come with a foundation of discipline and skills, honed from their time in the service.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1141">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Expert Team</span>
                <h2 class="cs-title">Meet The A Team! </h2>
            </div>
            
            <a href="/about" class="cs-button-solid">Read More About Us</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/person-1.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/person-1.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/person-1.webp" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Person 1</span>
                    <span class="cs-job">Founder</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/person-1.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/person-1.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/person-1.webp" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Person 1</span>
                    <span class="cs-job">Founder</span>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-591">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">What Our Clients Say</h2>
            <p class="cs-text">
                At A Team Guard, we believe in delivering top-notch security services that surpass client expectations. But don't just take our word for it. Here's what some of our esteemed clients have to say about partnering with us.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Fast response</h3>
                <p class="cs-item-text">
                    We recently faced an unprecedented security concern in our complex. Not only did A Team Guard have an incredibly fast response time, but their coordination with emergency services was impeccable. It was evident they prioritize safety above all, making them an invaluable partner for us.
                </p>
                <span class="cs-name">Gated Community, Bangkok</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Flexible</h3>
                <p class="cs-item-text">
                    A Team Guard has been truly outstanding in their services. Their flexibility and ability to match our unique security requirements have made a significant difference in our residents' safety. We never thought a security service could be tailored so closely to our needs until we worked with them. Highly recommended!
                </p>
                <span class="cs-name">Condo Management, Bangkok</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Direct communication</h3>
                <p class="cs-item-text">
                    Working with A Team Guard has been a refreshing experience. Whenever we had a concern or suggestion, connecting directly with their senior management team was seamless. It's evident they value clear communication and client relationships, making our collaboration smooth and productive.
                </p>
                <span class="cs-name">Retail Chain Owner, Bangkok</span>
            </li>
        </ul>
    </div>
</section>
                                
                                
<!-- ============================================ -->
<!--               FAQ Script                     -->
<!-- ============================================ -->
<script>
    const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
        for (const item of faqItems) {
            const onClick = () => {
            item.classList.toggle('active')
        }
        item.addEventListener('click', onClick)
        }
</script>                         
                                                        

    {% include 'components/cta.html' %}
{% endblock %}